:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1ef;
  margin: 0px;
}

@media (width >= 600px) {
  body{
    margin: 20px;
  }
  .img-text{
    margin-bottom: 230px !important;
  }
}

@media (width >= 821px) {
  
}

.trendy-logo {
  height: 50px;
  width: auto;
}



.product-card-body {
  min-height: 100%;
}

.img-div{
  min-height: 600px;
}


/* Navbar */
.navbar {
  border-bottom: solid 4px #110f0f0c !important;
  
}

/* Main body */
.pages {
  margin-top: 0px;
 
}

/* signup page */
.signup {
  height: 80vh;
  font-size: 18px;
}

.signup .form-control {
  width: 400px;
}

/* signup form */

label, input {
  display: block;
}

input {
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}


form.createAccount, form.addProducts, form.login{
  max-width: 600px;
  margin: 10px auto;
  padding: 50px;
  background: #fff;
}

.login{
  margin-top: 150px;
  min-width: 300px !important;
}

/* filter Button */

.rounded-pill {
  border: solid 1px #d6cacac5
}

/* Products Details */

.buttons-hover{
  position: absolute;
  top: 50%;
  left: 50% ;
  transform: translate(-50%, -50%);
  display: none !important;
}

.img-area:hover .buttons-hover {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-img{
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}

.img-area:hover .product-img {
  filter: blur(5px);
}

/* .img-area{
  text-align: center;
  color: #fff;
  position: relative;
}
.img-area img{
  width: 100%;
  height: auto;
}

.img-text, 
.img-area:after {
  width: 100%;
  position: absolute;
  left: 0;
}

.img-area:after {
  content: '';
  height: 100%;
  top: 0;
  transition: .5s;
}

.img-area:hover:after{
  background: rgba(0,0,0, .6);
}

.img-text{
  padding: 20px;
  margin-bottom: 120px;
  bottom: 0;
  z-index: 1;
  transform: translateY(145px);
  transition: all .5 cubic-bezier(.13,.62,.81,.91) 0s;
}

.img-area:hover .img-text{
  transform: translatey(0);
}

.img-area:hover .hover{
  visibility: visible;
} */

.login h5{
  letter-spacing: 1px;
}



#logoutbtn {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

.carousel-inner {
  width: auto;
  height: 92vh;
  background-position: center;
}

.Nav {
  gap: 30px;
}

.login {
  gap: 50px 50px;
}


/* Cart */

#cart {
  position: fixed;
  height: 100vh;
  width: 20vw;
  background-color: #79b1ff;
  top: 0;
  right: 0vw;
  transition: right 0.5s ease-in-out;
}

.cart-img {
  width: 70px;
  height: 75px;
  object-fit: cover;
}

.cart-number {
  color: white;
  width: 1.5rem; 
  height: 1.5rem;
  position: absolute; 
  bottom: 0; 
  right: 0; 
  transform: translate(25%, 25%);
}

.cart-total{
  font-size: 30px;
  border-top: solid 1px rgba(112, 128, 144, 0.250);
}

.product-view {
  min-height: 75vh !important;
}

.product-view-btn {
  width: 110px;
}

.plus-minus-btn{
  width: 30px;
  font-weight: bold;
}

.cart-quantity{
  height: 28px;
  
}


input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.off-canvas-body{
  border-top: solid 1px rgba(87, 119, 138, 0.295);
}

.usercart-items{
  border-top: solid 1px rgba(112, 128, 144, 0.250);
  border-bottom: solid 1px rgba(112, 128, 144, 0.250);
  height: 120px;
}



/* .img-area{
  width: 40%;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgb(40, 40, 40);
}

img{
  height: 100%;
  width: 100%;
}

.img-text{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.container:hover .img-text{
  opacity: 0.8;
} */



/* homepage */
/* .products-Page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.product-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.product-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.product-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.product-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
} */

